/SoftwareII/Taller_3/nbproject/private/
/SoftwareII/Taller_3/build/
/SoftwareII/Taller_3/dist/
/SoftwareII/Taller4/build/
/SoftwareII/Taller4/nbproject/private/
/SoftwareII/Taller4/dist/
/SoftwareII/Taller5/Taller5/build/
/SoftwareII/Taller5/Taller5/nbproject/private/
/SoftwareII/Taller5/build/
/SoftwareII/Taller5/dist/
/SoftwareII/bochicaF/build/
/SoftwareII/bochicaF/nbproject/private/